# Ignore Python virtual environments
venv/
.env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pylintrc
*.pytest_cache/
*.coverage
*.egg-info/
.eggs/
pip-wheel-metadata/

# Ignore Ansible-specific files
*.retry
*.log
*.vault
.vault-pass
*.cfg.bak

# Ignore sensitive files (be cautious about uncommitted files!)
inventory/
host_vars/
group_vars/
secrets.yml
*.key
*.pem
*.inf
*.conf
playbooks/test.yml

# Ignore temporary directories and files
tmp/
temp/
files/
.cache/
.DS_Store
*.swp
*.swo
*.bak
*.orig

# Ignore tools' and editor-specific files
.idea/
.vscode/
*.code-workspace
